*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(132, 132, 255);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.spinner{
  height: 40px;
  width: 40px;
  background: #fff;
  animation: flip 1s linear infinite;
}

@keyframes flip {
  50% {
    transform: rotateX(180deg);
  }
  100%{
    transform: rotateX(180deg) rotateY(180deg);
  }
}